*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body
{
    min-height: 100vh;
    overflow-x:hidden;
}
.container
{
    position: relative;
    width: 100%;
}
.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    
    border-left: 10px solid var(--blue); /* Ramka odsuwa liste od lewej prawdopodobnie mozna to tez zrobic nizej przy atrybucie left: 10px */
    transition: 0.5s;
    overflow:hidden;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    width: 200%;
    list-style: none;
}
